// Spring
$theme1: #2cad14;
$theme2: #e93982;


// Winter
// $theme1Dark: #616dac;
// $theme2Dark: #c5658d;
// Spring
$theme1Dark: #2cad14;
$theme2Dark: #e93982;

$themeGray3p5: #bababa;
$themeGray8: #717579;
$themeDark1: #4d4f52;

$lightThemeColor: #333;
$darkThemeColor: #eee;
$themeBlueDark: #4d7d9c;

// Fall
// $seasonColor1: #e9c439;
// $seasonColor2: #f55353;

// Winter
// $seasonColor1: #4c8bf0;
// $seasonColor2: #FC5C7D;

// Spring
$seasonColor1: #63cfc1;
$seasonColor2: #e4c46d;
$seasonColor3: #e9a4cd;
