// Winter
$theme1: #616dac;
$theme2: #c5658d;

// Fall
// $theme1: #e9c439;
// $theme2: #f55353;


$theme1Dark: #616dac;
$theme2Dark: #c5658d;

$themeGray3p5: #bababa;
$themeGray8: #717579;
$themeDark1: #4d4f52;

$lightThemeColor: #333;
$darkThemeColor: #eee;
$themeBlueDark: #4d7d9c;

$seasonColor1: #4c8bf0;
$seasonColor2: #FC5C7D;

